*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
}
h1 {
  font-size: 1.5em;
}
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.25em;
}
table {
  width: 100%;
}
tr:nth-child(even) {
  background-color: lightgrey;
}
th,
td {
  border-bottom: 1px solid #ddd;
  padding: 1rem;
}

th {
  background-color: blue;
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.d-none {
  display: none;
}
.text-center {
  text-align: center;
}
.message {
  border-radius: 2rem;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
}
.success {
  background-color: green;
  color: white;
}
.warning {
  background-color: yellow;
  color: black;
}
.table-wrap {
  overflow-x: auto;
}
@media only screen and (max-width: 576px) {
  body {
    font-size: 1.6em;
  }
  .container-fluid {
    width: 100%;
  }
  .container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media only screen and (min-width: 576px) {
  body {
    font-size: 1.7em;
  }
  .container {
    max-width: 540px;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 1.8em;
  }
  .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  body {
    font-size: 2em;
  }
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
