@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
:root {
  --c-black: #343a40;
  --c-white: #e9ecef;
  --c-blue: #0077b6;
  --c-highlight-yellow: rgb(240, 255, 0);
  --c-highlight-green: rgb(34, 255, 0);
  --c-highlight-fucsia: rgb(255, 0, 219);
  --c-highlight-blue: rgb(4, 223, 255);
  --c-highlight-purple: rgb(176, 0, 255);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  background-color: var(--c-white);
  color: var(--c-black);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6em;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
}
a {
  color: var(--c-blue);
}
a:hover {
  color: var(--c-highlight-blue);
}
a:active {
  color: var(--c-highlight-fucsia);
}
h1 {
  font-weight: 900;
  font-size: 1.5em;
  text-align: center;
  margin: 3rem 0;
}
h2 {
  font-weight: 700;
  font-size: 1.25em;
  text-align: center;
}
h3 {
  font-weight: 700;
  font-size: 1.1em;
  text-align: center;
}
h4,
h5,
h6 {
  font-weight: 600;
  font-size: 1em;
  text-align: center;
}
figure {
  margin: 0;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
button {
  display: block;
  border: none;
  background-color: var(--c-black);
  padding: 1rem 3rem;
  margin: 3rem auto;
  font-size: 1.5em;
  border-radius: 0.5rem;
}
button:hover {
  cursor: pointer;
}
.btn-practice {
  color: var(--c-highlight-fucsia);
  box-shadow: 0 0 5px 1px var(--c-highlight-fucsia);
}
.btn-done {
  color: var(--c-highlight-green);
  box-shadow: 0 0 5px 1px var(--c-highlight-green);
}
.btn-back {
  color: var(--c-highlight-yellow);
  box-shadow: 0 0 5px 1px var(--c-highlight-yellow);
}
header {
  background-color: var(--c-black);
  color: var(--c-white);
}
aside figure figcaption {
  font-weight: 300;
}
aside figure iframe {
  display: block;
  margin: 2rem auto;
  border-radius: 1rem;
}
footer {
  font-weight: 100;
  font-size: 0.8125em;
  padding: 1rem;
}
footer p {
  margin: 0;
}
footer > p:first-child {
  display: flex;
  justify-content: end;
  align-items: center;
}
footer > p:nth-child(2) {
  text-align: right;
}
footer img {
  width: 2.6rem;
  margin: 0 0.5rem;
}
.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.icon {
  color: var(--c-blue);
}
.d-none {
  display: none;
}
.divide {
  border: 1px dashed var(--c-highlight-blue);
  margin: 1rem;
}
.choose {
  text-align: center;
  margin: 2rem 0;
}
.choose select {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  appearance: none;
  outline: none;
  cursor: pointer;
  color: var(--c-highlight-blue);
  background-color: var(--c-black);
  border: 1px solid var(--c-blue);
  border-radius: 0.5rem;
  width: 30rem;
  height: 5rem;
  text-align: center;
  box-shadow: 0 0 5px 1px var(--c-highlight-blue);
  padding: 1rem;
}
.choose select:focus {
  outline: 1px dashed var(--c-highlight-yellow);
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card {
  border: 1px solid var(--c-highlight-blue);
  border-radius: 1rem;
  padding: 1rem;
}
.card > p:first-child {
  font-size: 1rem;
  font-weight: 100;
}
.card ul li:first-child::marker {
  content: '🇺🇸  ';
}
.card ul li:last-child::marker {
  content: '🇨🇴  ';
}
.practice {
  margin: 4rem 0;
}
.practice #card {
  width: 100%;
  max-width: 40rem;
  height: 40rem;
  background-color: var(--c-black);
  color: var(--c-white);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--c-highlight-purple);
  border-radius: 1rem;
  box-shadow: 0 0 5px 1px var(--c-highlight-purple);
}
.practice p {
  font-size: 1.3em;
}
.practice form input {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
}
.practice form input:focus {
  border-bottom: 1px solid var(--c-highlight-fucsia);
}
.msg-success {
  color: var(--c-highlight-green);
}
.msg-warning {
  color: var(--c-highlight-yellow);
}
#sample {
  font-size: 1em;
  font-style: italic;
  opacity: 0.75;
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 576px) {
  body {
    font-size: 1.7em;
  }
  .container {
    max-width: 540px;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .choose {
    margin: 4rem 0;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 1.8em;
    grid-template-rows: auto 1fr 2fr auto;
  }
  .container {
    max-width: 720px;
  }
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    width: 35rem;
  }
}
@media only screen and (min-width: 992px) {
  body {
    font-size: 2em;
    grid-template-rows: auto 1fr 1fr auto;
  }
  aside {
    text-align: center;
  }
  .container {
    max-width: 960px;
  }
  .cards {
    justify-content: space-evenly;
  }
  .card {
    width: 45rem;
  }
  .practice #card {
    height: 45rem;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .cards {
    justify-content: space-between;
  }
  .card {
    width: 35rem;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .cards {
    justify-content: space-evenly;
  }
}
